
.carousel {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}


.carouselImage {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

button {
    background-color: transparent;
    border: 0;
}

button:hover {
    color: blue;
}


.small {
    composes: carousel;
    max-width: 200px;
    max-height: 200px;
    width: auto;
    height: auto;
    font-size: 36px;
}


.medium {
    composes: carousel;
    max-width: 350px;
    max-height: 350px;
    width: auto;
    height: auto;
    font-size: 36px;
}


.large {
    gap: 3em;
    composes: carousel;
    max-width: 450px;
    max-height: 450px;
    width: auto;
    height: auto;
    font-size: 64px;
}